<section class="Professor-footer">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="col-lg-3 col-md-6 col-sm-12 footer-list-29 footer-1 pr-lg-5">
            <ul>
              <h6 class="footer-title-29">ABOUT ACADEMY</h6>
              <li><a [routerLink]="['/about-us']">About Us</a></li>
              <li><a [routerLink]="['/about-us']">  Company Profile</a></li>
              <li><a [routerLink]="['/test-center']"> Testing Center</a></li>
              <li><a [routerLink]="['contact-us']"> Preschool</a></li>
              <li><a [routerLink]="['/about-us']">   Our Customers</a></li>
              <li><a [routerLink]="['/about-us']">  Achievements</a></li>
            </ul>
        
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-list-29 footer-2 mt-sm-0 mt-5">
  
            <ul>
              <h6 class="footer-title-29">BUSINESS ADMINISTRATON</h6>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> Business Management</a></li>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> Human Resource</a></li>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> Marketing Diploma</a></li>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> Supply Chain Diploma</a></li>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> PMP Diploma</a></li>
              <li><a [routerLink]="['/our-programs/business-administraton-and-management-program']"> Hospital Management</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29 ps-4">OUR PROGRAMS</h6>
            <ul>
              <li><a [routerLink]="['/our-programs/languages-courses']"> Business English</a></li>
              <li><a [routerLink]="['/our-programs/it-courses']"> 3D Max</a></li>
              <li><a [routerLink]="['/our-programs/soft-skills']"> Soft Skills Courses</a></li>
              <li><a [routerLink]="['/our-programs/teaching-diploma']"> Teaching Diploma</a></li>
              <li><a [routerLink]="['/our-programs']"> Summer Program</a></li>
              <li><a [routerLink]="['/our-programs']">  Online Course</a></li>
            </ul>
  
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 footer-list-29 footer-4 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Info </h6>
            <p>Address :230 W State Road 436, Altamonte Springs
               , Florida</p>
            <p class="mt-2">Telephone: (800) 221-5801 – (800) 222-5800</p>
            <p class="mt-2">Phone : 1529-99-6755 - 1529-99-6766</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 footer-list-29 footer-4 mt-lg-0 mt-5">
      <div class="main-social-footer-29 mb-3">
        <a href="https://www.facebook.com/" class="facebook"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/" class="twitter"><span class="fa fa-twitter"></span></a>
        <a href="https://www.youtube.com/" class="instagram"><span class="fa fa-youtube"></span></a>
        <a href="https://www.linkedin.com/" class="linkedin"><span class="fa fa-linkedin"></span></a>
      </div>

    </div>
    <!-- copyright -->
    <section class="Professor-copyright text-center">
      <div class="container">
        <p class="copy-footer-29">© 2021  Professor for Training Courses. All rights reserved. </p>
      </div>
  
      <!-- move top -->
      <button (click)="goUp()" id="movetop" title="Go to top" style="display: block;">
        UP
      </button>
  
      <!-- /move top -->
    </section>
    <!-- //copyright -->
  </section>
