<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li> /
      <li><a [routerLink]='["/our-programs"]'> Our Programs</a></li>
      <li class="active"> / Soft Skills </li>
    </ul>
  </div>
</section>
<section class="bmd-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Mini-Diploma in Soft Skills (MDSS) at Professor</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Mini-Diploma in Soft Skills (MDSS) is an advanced professional diploma provided by Professor for
          Training Courses which is ISO-9001 accredited language learning and training center collaborating with
          the Atlanta Institute .
          <br>
          Professor is one of the largest training centers, in Egypt, offering training diplomas and courses
          concerning the development of administrative skills.
          <br>
          The mini-diplomas offered by Professor are fast track training courses focusing on the development of
          Managerial skills required for individuals to win job opportunities in large international and local
          corporations. An employee may acquire these skills through his / her work for any company, but this would take
          a very long time to be achieved and may cause troubles to such employee. Hence, it is through such
          mini-diplomas that employees can ensure acquiring these skills easily and efficiently within short periods.
          <br>
          The objective of such diplomas and mini-diplomas is, therefore, to boost administrative efficiency of every
          individual in corporations and administrative and educational institutions so that job tasks and duties can be
          handled in an easy and efficient way by those well-trained individuals. Furthermore, such courses address
          governmental sector employees, university students and training officers in corporations and companies.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">MDSS covers the following Soft Skills:</h1>
        <ul>
          <li>Team Work</li>
          <li>Time Management</li>
          <li>Present</li>
          <li>Problem solving</li>
          <li>Communications</li>
          <li>Business</li>
        </ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">Other Soft Skills Covered by Professor:</h1>
        <ul>
          <li>Creative Thinking</li>
          <li>Customer Oriented Selling</li>
          <li>Delegation</li>
          <li>Delivering Customer Focused Service</li>
          <li>Email, Telephone &amp; Conference Call Etiquette</li>
          <li>Leadership Skills</li>
          <li>Listening &amp; Feedback Skills</li>
          <li>Technical Writing Skills</li>
          <li>Change Management</li>
          <li>Coaching Skills</li>
          <li>Conflict Resolution</li>
          <li>Dealing with Difficult Customers</li>
          <li>Managerial Skills</li>
          <li>Motivating Team members</li>
          <li>Negotiation Skills</li>
          <li>Performance Management</li>
          <li>Personal Grooming, Hygiene &amp; Dining Etiquette</li>
          <li>Sales Training</li>
          <li>Team Management Skills</li>
          <li>Time Management &amp; Presentation Skills</li>
          <li>Winning through Customer Service</li>
          <li>Winning through Customer Service</li>
          <li>Winning through Customer Service</li>
          <li>Winning through Customer Service</li>
          <li>Self-directed</li>
          <li>Good attitude.</li>
          <li>Writing skills.</li>
          <li>problem solving</li>
          <li>Interpersonal skills</li>
          <li>Motivational skills.</li>
          <li>Time management</li>
          <li>Critical thinking skills.</li>
          <li>New Hire Induction and On-boarding</li>
          <li>Personal Effectiveness</li>
        </ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>