<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li>
      <li class="active">/ Contact Us</li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5">Contact US</h1>
    <p class="text">Contact Professor
      Contact us to get more information about any course or Diploma, you can find our phones for all branches and
      branches map. </p>
    <p class="text"> Professor for Training courses Egypt is a language, Management, IT &Teaching programs
      Provider with internationally and ISO accreditation. Professor Egypt offers international programs which
      are accredited by USA & UK . </p>
    <p class="title">Professor Egypt offers the international following training programs:</p>
    <p class="text">
      General English Courses, Conversation English Courses, Business English Courses, Teaching Arabic Courses for
      foreigners, Human Resources Certified Professional Diploma, Teaching English as a foreign language (TEFL),
      Teaching Science & Math Program, Montessori Preschool teachers Program, Managements, Soft Skills training
      programs, TOEFL IBT examinations, and All IT Computer courses. </p>

  </div>
</section>


<section class="courses">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1">
        <button class="carousel-cell contact actives" (click)="openContent('.contact-btns');setActiveTab('.contact')">
          <h1> Contact Info </h1>
        </button>
      </div>
      <div class="col-4 offset-2">
        <button class="carousel-cell complain" (click)="openContent('.complain-content');setActiveTab('.complain')">
          <h1>COMPLAINS & INQ</h1>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="contact-btns my-5 py-5">
  <div class="container">
    <div class="row">
      <h1 class="title text-center mb-5">Contact Information for :</h1>
      <div class="col-4 offset-1">
        <button class="head carousel-cell actives" (click)="openContent('.head-content');setActiveTab('.head')">
          <h1>Head Office </h1>
        </button>
      </div>
      <div class="col-4 offset-2">
        <button class="maadi carousel-cell" (click)="openContent('.maadi-content');setActiveTab('.maadi')">
          <h1>Maadi Branch </h1>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="head-content my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-12" role="main">
        <article class="single-page-content">
          <h2>Professor&nbsp;Head Office</h2>

          <p><strong>230 W State Road 436</strong></p>
          <p>Altamonte Springs
             , Florida</p>
          <p><strong>Tel.:</strong> (800) 221-5801 – (800) 222-5800</p>
          <p><strong>Cell phone:</strong> 1529-99-6755 - 1529-99-6766
          </p>
          <p><strong>Important Notice:</strong></p>
          <p class="red"><strong>– &nbsp;Professor took
                legal actions against those fraudsters and counterfeiters, and they were, therefore,
                sentenced to fines, imprisonment and closure. Professor will continue to sue
                any entity or center which uses Professor trade name or brands, or assumes to
                be an Professor branch, without a prior written approval by Professor in
                this regard.&nbsp;Professor has no branches other than those listed
                below.</strong></p>
        </article>
      </div>
      <div class=" col-lg-5 col-12">
        <iframe
         src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Altamonte%20Springs%20Florida+(230%20W%20State%20Road%20436)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"

          width="600" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
    </div>
  </div>
</section>


<section class="maadi-content my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12" role="main">
          <article class="single-page-content">
            <h2>Professor&nbsp;2nd Branch</h2>
  
           
          <p><strong>4325 Brush St
          </strong></p>
          <p>Detroit
             , Michigan</p>
          <p><strong>Tel.:</strong> (800) 221-4561 – (800) 222-4561</p>
          <p><strong>Cell phone:</strong> 1529-88-6755 - 1529-88-6766
          </p>
          <p><strong>Important Notice:</strong></p>
          <p class="red"><strong>– &nbsp;Professor took
                legal actions against those fraudsters and counterfeiters, and they were, therefore,
                sentenced to fines, imprisonment and closure. Professor will continue to sue
                any entity or center which uses Professor trade name or brands, or assumes to
                be an Professor branch, without a prior written approval by Professor in
                this regard.&nbsp;Professor has no branches other than those listed
                below.</strong></p>
        </article>
      </div>
      <div class=" col-lg-5 col-12">
        <iframe
         src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Altamonte%20Springs%20Florida+(230%20W%20State%20Road%20436)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"

          width="600" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
          </div>
    </div>
  </section>

<section class="complain-content my-5">
    <div class="container">
        <h1 class="title">If you Have any complain  or inquiry Please fill  the form with your complain and we will contact you to solve.</h1>
    </div>
</section>