<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li> /
      <li><a [routerLink]='["/our-programs"]'> Our Programs</a></li> /
      <li class="active">Languages Courses </li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5">Languages Courses</h1>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>

  </div>
</section>

<section class="courses-carousel">
  <div class="carousel" data-flickity='{ "wrapAround": true ,"draggable": true,"autoPlay": true }'>
    <button class="carousel-cell general" (click)="openContent('.general-english');setActiveTab('.general')">
      <h1>General English </h1>
      <h1>Courses</h1>
    </button>
    <button class="carousel-cell conversation" (click)="openContent('.conversation-english');setActiveTab('.conversation')">
      <h1>Conversation English </h1>
      <h1>Courses</h1>
    </button>
    <button class="carousel-cell Business" (click)="openContent('.Business-english');setActiveTab('.Business')">
      <h1>Business English </h1>
      <h1>Courses</h1>
    </button>
    <button class="carousel-cell kids" (click)="openContent('.kids-english');setActiveTab('.kids')">
      <h1>English For Kids </h1>
      <h1>Courses</h1>
    </button>
    <button class="carousel-cell toefl" (click)="openContent('.toefl-english');setActiveTab('.toefl')">
      <h1>TOEFL & IELTS Exam </h1>
      <h1>Preparation Courses</h1>
    </button>
    <button class="carousel-cell ara" (click)="openContent('.arabic');setActiveTab('.ara')"> 
      <h1>Arabic Courses </h1>
      <h1> for Foreigner </h1>
    </button>
    <button class="carousel-cell other-btn" (click)="openContent('.other');setActiveTab('.other-btn')">
      <h1>Other Languages </h1>
      <h1>Courses</h1>
    </button>
  </div>
</section>

<section class="general-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> General English Courses (GEC): Overview</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Professor for Training Courses American General English program is made up of 14 courses.
          Professor is an ISO 9001 certified and authorized language learning and training center. It works
          in partnership with the US-based Atlants Institute, and Professor is one of the largest language
          learning centers all over Egypt.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>The General English Courses include 14 levels. Each level lasts for 6 weeks,
            with two sessions per week.</li>
          <li>The courses cover all English language skills, including listening, reading,
            writing and fluent conversations. Each course introduces learners, through extensive exercises, to a wide
            variety of vocabulary items and grammatical rules.</li>
          <li>General English Courses is a program developed particularly for learners who
            like to master English and speak it fluently.</li>
          <li>General English courses adopt interesting methodologies to meet learner
            needs.</li>
          <li>Professor English learning courses are based on practical
            exercises and motivational English learning methodologies. The courses also feature a huge range of engaging
            exercises, audio-visual material and self-help activities to encourage learners to improve their English
            language skills.</li>
          <li>To join the course, learners have to take a placement test. Upon completion
            of the course, the learner takes a final exam to measure his/her proficiency at the level. Upon passing that
            final exam, the learner can pass on to the next level and get a certificate showing the completed
            courses.<br>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="conversation-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> The English Conversation Program: Overview</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Professor for Training Courses American English conversation program is made up of 12
          courses. Professor is an ISO 9001 certified and authorized language learning and training center.
          It works in partnership with the US-based Atlanta Institute, and Professor is one of the largest
          language learning centers all over Egypt.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>The general English program consists of 12 courses. Each course is presented over 6 weeks, two lectures
            per week.</li>
          <li>All English conversation skills, like fluent speaking and listening, are offered using easy methodologies.
          </li>
          <li>Conversation courses are based on a curriculum focusing on the English listening and conversation skills,
            introduced via a variety of interesting exercises to encourage learners to speak English fluently. With the
            wide variety of phonetic exercises, the courses help learners develop native-like listening and speaking
            skills rapidly.</li>
          <li>Each level covers all language skills, i.e. fluent speaking, listening, reading and writing, and feature
            extensive exercises to provide the student with a wide range of vocabulary items and grammatical rules.</li>
          <li>English language courses represent a program designed to meet the needs of very learner interested in
            mastering English and speaking it fluently.</li>
          <li>Professor English learning courses are based on practical exercises and motivational English
            learning methodologies. The courses also feature a huge range of engaging exercises, audio-visual material
            and self-help activities to encourage learners to improve their English language skills.</li>
          <li>To join the course, learners have to take a placement test. Upon completion of the course, the learner
            takes a final exam to measure his/her proficiency at the level. Upon passing that final exam, the learner
            can pass on to the next level and get a certificate showing the completed courses.<br>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="Business-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Business English Courses (BEC): Overview</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Professor for Training Courses American Business English Program is made up of 6 courses.
          Professor is an ISO 9001 certified and authorized language learning and training center. It works
          in partnership with the US-based Atlanta Institute, and Professor is one of the largest language
          learning centers all over Egypt.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>Professor provides Business English Courses (BEC) are designed specifically for professionals,
            managers, and businessmen to help them use English fluently in the workplace.</li>
          <li>Course materials are closely related to professional management skills that stimulate to learners the
            professional environment at the workplace, help them develop their English reading, conversation, writing
            and listening skills. Learners work on case studies and topics about the business environment to learn how
            English is used in real situation.</li>
          <li>To join the course, learners have to take a placement test. Upon completion of the course, the learner
            takes a final exam to measure his/her proficiency at the level. Upon passing that final exam, the learner
            can pass on to the next level and get a certificate showing the completed courses.<br></li>
        </ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="kids-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> English for Kids Courses: Overview</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>The The English for Kids program at Professor for Training Courses consists of 6 courses.
          <br>
          Professor is one of the largest language learning centers all over Egypt </p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>“English for Kids” courses are designed specifically for kids aged 8-13 years. It qualifies kids to master
            English and motivates them to practice English confidently. The courses are mainly based on fun learning
            approaches. It prepares kids to pass the tests of the Cambridge professional English test for kids, held at
            the British Council.</li>
          <li>“English for Kids” courses are the first step for kids towards attending prestigious universities in the
            future, such as the American University in Cairo and other major universities in Egypt and around the world.
          </li>
          <li>“English for Kids” courses are designed specifically for kids aged between 8 and 13 years, with very
            effective interactive approaches based on fun activities.</li>
          <li>In “English for Kids” courses, the kids enjoy many interesting English songs, stories, as well as studying
            phonetics in funny ways using interactive interesting methodologies.</li>
          <li>To join the course, learners have to take a placement test. Upon completion of the course, the learner
            takes a final exam to measure his/her proficiency at the level. Upon passing that final exam, the learner
            can pass on to the next level and get a certificate showing the completed courses.<br></li>
        </ul>
      </div>
         <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="toefl-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> TOEFL and IELTS Preparation Courses at Professor
      Overview</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>TOEFL and IELTS are among the most important tests to assess learners’ English proficiency.</li>
          <li>TOEFL or IELTS is a key academic prerequisite for admission to universities both for undergraduate and
            post-graduate studies.</li>
          <li>TOEFL or IELTS is among the most important prerequisites for immigration to many countries, including
            Canada, Australia and the United States.</li>
          <li>Professor for Training Courses TOEFL and IELTS courses prepare learners
            to focus on the best strategies to take these tests and how to handle the different test sections, e.g.
            reading, writing, listening and speaking. In other terms, learners thoroughly deal with many questions and
            answers which are identical to those provided in the real TOEFL and IELTS tests; and</li>
          <li>Professor TOEFL preparatory course helps learners to get familiar with many different models of
            questions so as to obtain the score required by the institution they are applying for.<br></li>
        </ul>
      </div>
         <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="arabic my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Arabic Courses for Foreigners at Professor
    </h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>Professor for Training Courses<strong></strong> is one of the best institutions of
            teaching Arabic courses for foreigners and is widely reputable among foreigner Arabic-language-learners who
            have completed these courses at the <strong>Professor</strong>.</li>
          <li>Professor provides courses of Classical Arabic as well as Colloquial Arabic for Foreigners, for
            those who are interested in getting in direct touch with Egyptians in different environments with regard to
            business, tourism and / or residency;</li>
          <li>Arabic was not that easy as it is now with Professor. Professor
            <strong>(Professor’s)</strong> curricula are based on interactive approaches enabling learners to practice Arabic
            inside an authentic Egyptian atmosphere.</li>
          <li>Professor <strong>(Professor’s)</strong> “Arabic courses for Foreigners” are based on contents which
            utilize films, songs and visits to tourist destinations and markets; so as to ensure that learners are
            effectively practicing their Arabic.</li>
        </ul>
      </div>
         <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>

</section>

<section class="other my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Foreign Languages courses at Professor</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Professor Egypt programs offered with affiliation with American, British & Australian partners
          accredited by international and national accreditation bodies,Professor offers Languages courses in 6
          October City ,Giza & Maadi Cairo Egypt. Professor offers French Courses , German Courses , Italian
          Courses .
          <br>
          Professor For training courses is one of the best Languages schools to offer Languages courses in 6
          October City ,Giza & Maadi Cairo Egypt. Professor offers French Courses , German Courses , Italian
          Courses </p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>Professor for Training Courses <strong>(Professor) </strong>provides full language learning packages
            of German, Italian, French and Spanish.</li>
          <li>Upon completion of the full package, fluency is guaranteed.</li>
          <li>Every course has a content based on the effective use of dictionaries alongside with actual practice of
            the target language and interactive approaches (including listening to native songs and watching native
            films).</li>
          <li>With Professor, it is no longer difficult to master German, Italian, French or Spanish.</li>
          <li>Furthermore, <strong>Professor</strong> offers “German for Kids” and “French for Kids” courses for more school
            achievements and the best practice of languages.</li>
        </ul>
      </div>
         <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>