<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li>
      <li class="active"> / Cambridge University English Exams </li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5"> Cambridge University English Exams </h1>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>

  </div>
</section>

<section class="courses-carousel">
  <div class="carousel" data-flickity='{ "wrapAround": true ,"draggable": true,"autoPlay": true }'>
    <button class="carousel-cell english actives" (click)="openContent('.english-content');setActiveTab('.english')">
      <h1>Cambridge English exams </h1>
      <h1>for schools </h1>
    </button>
    <button class="carousel-cell general" (click)="openContent('.general-content');setActiveTab('.general')">
      <h1>Cambridge General and Business </h1>
      <h1>English Exams </h1>
    </button>
    <button class="carousel-cell teaching" (click)="openContent('.teaching-content');setActiveTab('.teaching')">
      <h1>Cambridge Teaching </h1>
      <h1> Exams </h1>
    </button>
  </div>
</section>


<section class="english-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Cambridge English exams for schools</h1>
    <p>Professor for Training courses offers new exams that will give you the confidence and skills to
      communicate with people from all over the world. With a Cambridge English certificate you will be able to prove
      your English language skills to universities, employers and governments around the world.</p>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Starters (YLE Starters)</h4>
            <p class="text">The start of a child’s language learning journey <br> Cambridge English: Starters (YLE
              Starters) is the first of three Cambridge English: Young Learners (YLE) tests for children. Cambridge
              English: Young Learners tests introduce children to everyday written and spoken English and are an
              excellent way for them to gain confidence and improve their English.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Movers (YLE Movers)</h4>
            <p class="text">Cambridge English: Movers (YLE Movers) is the second of three Cambridge English: Young
              Learners (YLE) tests for children. Cambridge English: Young Learners tests introduce children to everyday
              written and spoken English and are an excellent way for them to gain confidence and improve their English.
              <br> The tests are written around familiar topics and focus on the skills needed to communicate
              effectively in English through listening, speaking, reading and writing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Flyers (YLE Flyers)</h4>
            <p class="text">Cambridge English: Flyers (YLE Flyers) is the third of three Cambridge English: Young
              Learners (YLE) tests for children. Cambridge English: Young Learners tests introduce children to everyday
              written and spoken English and are an excellent way for them to gain confidence and improve their English.
              <br> The tests are written around familiar topics and focus on the skills needed to communicate
              effectively in English through listening, speaking, reading and writing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Key (KET) for Schools</h4>
            <p class="text">An exam for school-age learners which will help prepare them for higher-level English
              language qualifications.A Cambridge English: Key (KET) for Schools qualification shows that a student can
              use English to communicate in simple situations. It’s a logical next step after Cambridge English: Young
              Learners (YLE) and a good place for older children to start learning English too.The exam gives students
              the confidence to go on to study for higher-level English exams, such as Cambridge English: Preliminary
              (PET) for Schools.Cambridge English: Key for Schools is targeted at the same CEFR level as Cambridge
              English: Key (KET), but with content aimed at school-age learners rather than adults.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Preliminary (PET) for Schools</h4>
            <p class="text">The English language exam that shows that students have mastered the basicA Cambridge
              English: Preliminary (PET) for Schools qualification shows that a student has mastered the basics of
              English and now has practical language skills for everyday use.This exam is the logical step in a
              student’s language learning journey between Cambridge English: Key (KET) for Schools and Cambridge
              English: First (FCE) for Schools.Cambridge English: Preliminary (PET) for Schools is targeted at the same
              CEFR level as Cambridge English: Preliminary (PET) but with content aimed at school-age learners rather
              than adults.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">First (FCE) for Schools</h4>
            <p class="text">Give students the confidence to use their English in the real world.A Cambridge English:
              First (FCE) for Schools qualification shows that a student has the language skills they need to
              communicate in an English-speaking environment.It’s also a great way to prepare for higher-level exams
              such as Cambridge English: Advanced (CAE).Cambridge English: First for Schools is targeted at the same
              CEFR level as Cambridge English: First (FCE) but with content aimed at school-age learners rather than
              adults.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Advanced (CAE)</h4>
            <p class="text">The in-depth, high-level qualification that shows you have the language skills that
              employers and universities are looking for.More than 6,000 educational institutions, businesses and
              government departments around the world accept Cambridge English: Advanced (CAE) as proof of high-level
              achievement in learning English. Preparing for Cambridge English: Advanced helps learners develop the
              skills to make the most of studying, working and living in English-speaking countries.This exam is the
              logical step in your language learning journey between Cambridge English: First (FCE) and Cambridge
              English: Proficiency (CPE).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Proficiency (CPE)</h4>
            <p class="text">Our highest-level qualification – proof that you are a highly competent speaker of English.A
              Cambridge English: Proficiency (CPE) qualification shows the world that you have mastered English to an
              exceptional level. It proves you can communicate with the fluency and sophistication of a highly competent
              English speaker.Preparing for and passing the exam means you have the level of English that’s needed to
              study or work in a very senior professional or academic environment, for example on a postgraduate or PhD
              programme.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="general-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> General and Business English exams</h1>
    <p>Professor for Training courses offers new exams that will give you the confidence and skills to
      communicate with people from all over the world. With a Cambridge English certificate you will be able to prove
      your English language skills to universities, employers and governments around the world.</p>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Cambridge English: Key (KET)</h4>
            <p class="text">This basic-level qualification is a great exam to take if you’re new to learning English.
              <br>
              A Cambridge English: Key (KET) qualification is proof of your ability to use English to communicate in
              simple situations.The exam tests all four English language skills – reading, writing, listening and
              speaking.It should give you the confidence to go on and study for higher-level exams such as Cambridge
              English: Preliminary (PET) and Cambridge English: First (FCE).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Cambridge English: Preliminary (PET)</h4>
            <p class="text">The English language exam that shows you have mastered the basics.
              <br>
              A Cambridge English: Preliminary (PET) qualification shows that you have mastered the basics of English
              and now have practical language skills for everyday use.
              <br>
              This exam is the logical step in your language learning journey between Cambridge English: Key (KET) and
              Cambridge English: First (FCE).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Cambridge English: First (FCE)</h4>
            <p class="text">Our most popular qualification, accepted by thousands of businesses and educational
              institutions worldwide.
              <br>
              A Cambridge English: First (FCE) qualification proves you have the language skills to live and work
              independently in an English-speaking country or study on courses taught in English.
              <br>
              This exam is the logical step in your language learning journey between Cambridge English: Preliminary
              (PET) and Cambridge English: Advanced (CAE).<br></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Cambridge English: Advanced (CAE)</h4>
            <p class="text">The in-depth, high-level qualification that shows you have the language skills that
              employers and universities are looking for.
              <br>
              More than 6,000 educational institutions, businesses and government departments around the world accept
              Cambridge English: Advanced (CAE) as proof of high-level achievement in learning English.
              <br>
              Preparing for Cambridge English: Advanced helps learners develop the skills to make the most of
              studying, working and living in English-speaking countries.
              <br>
              This exam is the logical step in your language learning journey between Cambridge English: First (FCE)
              and Cambridge English: Proficiency (CPE).</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic"></div>
          <div class="content">
            <h4 class="head">Cambridge English: Proficiency (CPE)</h4>
            <p class="text">Our highest-level qualification – proof that you are a highly competent speaker of English.
              <br>
              A Cambridge English: Proficiency (CPE) qualification shows the world that you have mastered English to an
              exceptional level. It proves you can communicate with the fluency and sophistication of a highly competent
              English speaker.
              <br>
              Preparing for and passing the exam means you have the level of English that’s needed to study or work in a
              very senior professional or academic environment, for example on a postgraduate or PhD programme.<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="teaching-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Cambridge Teaching Exams</h1>
    <p>TKT Show that you’re developing as an EFL teacher with TKT – a series of flexible, internationally recognized tests from Cambridge University
      <br>
      TKT is internationally recognized, highly respected and a benchmark for quality because it is awarded by Cambridge English, part of the University of Cambridge.
      <br>
      TKT is divided into separate modules. You can take them all, or just choose the ones that meet your needs. You have total flexibility in how and when you take the modules and receive a certificate for each one completed. For more information about TKT click Down or Call us
      <br>
      There are three core modules designed to provide a foundation in the practice and principles of language teaching:
      <br>
      TKT: Module 1 – Background to language teaching
      TKT: Module 2 – Planning for language teaching
      TKT: Module 3 – Classroom management
      <br>
      Also, you can participate in three professional modules:
      <br>
      TKT: Content and Language Integrated Learning – A test of the understanding of this exciting approach to teaching curriculum subjects through the medium of a second or third language.
      TKT: Young Learners – A test of the background knowledge related to teaching young learners in the 6–12 age range.</p>
</div>
    </section>
