<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li>
      <li class="active"> / job Opportunity </li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5">job Opportunity</h1>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
  </div>
</section>


<section class="english-content my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic1"></div>
          <div class="content">
            <h1 class="title text-center my-3">Front-End Developer</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>
              Professor Is hiring frontend Developer with more than 2 years’ experience in design and development
            </p>
            <h1 class="title fs-5"> Job description</h1>
            <p>

              Responsible design and development frontend website
              <br>

              responsable for html ,css, Ui/Ux, javascript and have knowledge using angular+ </p>
              <h1 class="title fs-5"> Job Requirements</h1>
              <ul>
                <li> Bsc degree related to the subject</li>
                <li> +2 years of experience</li>
                <li>good English</li>
                <li> Excellent computer skills</li>
              </ul>
              <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic2"></div>
          <div class="content">
            <h1 class="title text-center my-3">Backend Developer</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>
              Professor Is hiring Backend Developer with experience in developing websites
            </p>
            <h1 class="title fs-5"> Job description</h1>
            <p>
              Develops Backend websites and handle all database for website.
              have +2 years experience
              strong knowledge with php ,sql.node.js and react.js
            </p>
            <h1 class="title fs-5"> Job Requirements</h1>
            <ul>
              <li> Bsc degree related to the subject </li>
              <li> +2 years of experience </li>
              <li> good English </li>
              <li> Excellent computer skills </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic3"></div>
          <div class="content">
            <h1 class="title text-center my-3">English Supervisor</h1>
            <h1 class="title fs-5"> About the Job </h1>
            <p class="text">
              Science supervisor
              <br>
              Knowledge International school Is hiring Science supervisor with experience in International Schools
            </p>
            <h1 class="title fs-5"> Job description</h1>
            <p>
              Developing and implementing lessons/work plans
              Providing a safe and stimulating environment that facilitates learning.
              Organizing and supervising play and work activities (for example reading, cooking, music, dancing etc).
            </p>
            <h1 class="title fs-5"> Job requirements</h1>
            <ul>
              <li>
                Bsc degree related to the subject
              </li>
              <li>
                From 8-10 years of experience
              </li>
              <li>
                Fluent English
              </li>
              <li>
                Excellent computer skills
              </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic11"></div>
          <div class="content">
            <h1 class="title text-center my-3">IT – Technical Support Engineer</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>Technical Support Engineer will be responsible for Monitoring, maintaining, installing and configuring
              the computer systems and networks (Software – Hardware). He must Experienced in installation for network &
              network Security Installing & configuring Windows & Microsoft office, Troubleshooting network, ADSL
              ,Windows & Office Qualification. </p>
            <h1 class="title fs-5"> Requirements:</h1>
            <ul>
              <li> Bachelor’s Degree in an information technology related field </li>

              <li> Proven experience as IT Technician or relevant position </li>

              <li> Excellent diagnostic and problem solving skills </li>

               <li> Excellent communication ability </li>

              <li> Outstanding organizational and time-management skills </li>

              <li> Good knowledge of internet security and data privacy principles </li>

              <li> preferred Certification as IT Technician will be an advantage (e.g. CompTIA A+, Microsoft Certified IT
              Professional) </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-shape">
          <div class="pic pic4"></div>
          <div class="content">
            <h1 class="title text-center my-3">Fresh Accountant</h1>
            <h1 class="title fs-5"> About the Job </h1>
            <ul>
              <li> Updating financial ledgers and data; preparing personal phrases and reports, standard and subsidiary
                ledgers and support routines; research and resolve differences.
              </li>
              <li> Record and analyze the company’s financial information Report.
              </li>
              <li> Involved in the strategic planning or the development of new products.
              </li>
              <li> Analyze and interpret financial information that corporate executives need in order to make sound
                business decisions.
              </li>
              <li> Prepare financial reports for other groups, including stock holders, creditors, regulatory agencies,
                and tax authorities.
              </li>
              <li> Review and monitor costs inherent in the business.
              </li>
              <li> Financial forecasting and planning.
              </li>
              <li> Perform variance analysis.
              </li>
              <li> Prepare all Taxes reports.
              </li>
              <li> Generally Followed Accounting Principles and Governmental Accounting Standards should on tips and
                should possess detailed knowledge about the Taxes standard.
              </li>
              <li> Maintain effectiveness as well as useful personal methods through processes.
              </li>
              <li> Examine as well as validate personal docs as well as entries.
              </li>
              <li> Work independently inside the absence of supervision.
              </li>
              <li> Analyzing financial data and to prepare accurate reports in a specific time frame.
              </li>
            </ul>
            <h1 class="title fs-5"> Job description</h1>
            <p>
              Developing and implementing lessons/work plans
              Providing a safe and stimulating environment that facilitates learning.
              Organizing and supervising play and work activities (for example reading, cooking, music, dancing etc).
            </p>
            <h1 class="title fs-5"> Job requirements</h1>
            <ul>
              <li> Working experience of accounting operations. </li>

              <li> High supervising and monitoring skills. </li>

              <li> Working under stress </li>

              <li> Skilled in working in a team </li>

              <li> Perfect command in using Microsoft Windows & Office. </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic5"></div>
          <div class="content">
            <h1 class="title text-center my-3">Preschool Executive Assistant (Female)
            </h1>
            <h1 class="title fs-5"> About the Job </h1>
            <ul>
              <li>Support Preschool director with all related admin &amp; Academic work.</li>
              <li>Assist in setting appointments and organizing Agenda.</li>
              <li>Attend meetings and develop its MOM.</li>
              <li>Follow up specific tasks as per Direct Manager assignment.</li>
              <li>Prepare excel sheets.</li>
              <li>Perform a wide variety of executive secretarial and administrative duties as required by daily</li>
              <li>Operations in the office</li>
              <li>Schedule and arrange meetings</li>
              <li>Direct preparation of records such as agenda, minutes, and resolutions for meetings</li>
              <li>Handle and manage Filing</li>
              <li>Prepare power point slides and small reports.</li>
              <li>Assist in the planning and preparation of meetings, events, and conferences</li>
              <li>Perform general office duties such as ordering supplies, maintaining records management</li>
              <li>Systems, and performing basic bookkeeping work</li>
              <li>Communicate and handle incoming and outgoing communications</li>
            </ul>
            <h1 class="title fs-5"> Job requirements</h1>
            <ul>
              <li>Relevant university degree.</li>
              <li>Work under stress</li>
              <li>Good skill of time management</li>
              <li>Very Good Computer Skills as advanced Microsoft office user (Word Outlook –Excel and Power point)</li>
              <li>Excellent Communication skills.</li>
              <li>Excellent Time Management skills.</li>
              <li>Very Good command of English Language (understanding – writing).</li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic6"></div>
          <div class="content">
            <h1 class="title text-center my-3 secretarial">Executive Secretary</h1>
            <h1 class="title fs-5 "> About the Job</h1>
            <ul>
              <li>Support direct manager with all related admin work.</li>
              <li>Assist in setting appointments and organizing Agenda.</li>
              <li>Attend meetings and develop its MOM.</li>
              <li>Follow up specific tasks as per Direct Manager assignment.</li>
              <li>Prepare excel sheets.</li>
              <li>Perform a wide variety of executive secretarial and administrative duties as required by daily</li>
              <li>Operations in the office</li>
              <li>Schedule and arrange meetings</li>
              <li>Direct preparation of records such as agenda, minutes, and resolutions for meetings</li>
              <li>Handle and manage Filing</li>
              <li>Prepare power point slides and small reports.</li>
              <li>Assist in the planning and preparation of meetings, events, and conferences</li>
              <li>Perform general office duties such as ordering supplies, maintaining records management</li>
              <li>Systems, and performing basic bookkeeping work</li>
              <li>Communicate and handle incoming and outgoing communications</li>
            </ul>
            <h1 class="title fs-5"> Job Requirements</h1>
            <ul>
              <li>Relevant university degree.</li>
              <li>ability to work under stress</li>
              <li>good skill of time management</li>
              <li>Very Good Computer Skills as advanced Microsoft office user (Word Outlook –Excel and Power point)</li>
              <li>Excellent Communication skills.</li>
              <li>Excellent Time Management skills.</li>
              <li>Very Good command of English Language (understanding – writing).</li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic7"></div>
          <div class="content">
            <h1 class="title text-center my-3">TOEFL English Instructor</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>Professor is well-established international English academy is looking for dynamic instructors of
              English to begin this month.</p>
            <ul>
              <li> Working days could be two full days or 4 full days or 6 full days.</li>

              <li> Please include your profile & CV with a recent photograph.</li>

              <li> You can apply or contact us by email using the Apply Online Box.</li>
            </ul>
            <h1 class="title fs-5"> Job Requirements</h1>
            <ul>
              <li> TEFL ,TESOL , CELTA or TKT or A degree in English literature or linguistics.
              </li>
              <li> Able to work under stress and deal with with different levels of students.
              </li>
              <li> Native Like English Speakers
              </li>
              <li> Note: All Native applicants must have at least permission to work in Egypt or live in Egypt or
                Preferably to be residence foreigner in Egypt or accept to work with tourism visa.
              </li>
              <li> For more details on job and benefits, work criteria, requirements and standards please email the
                director of Professor Egypt.
              </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>   
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic9"></div>
          <div class="content">
            <h1 class="title text-center my-3">Sales Executive/Customer Care Job</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>Indoor Sales Executive/Customer Care person who make a Cold calling to arrange meetings with potential
              customers to prospect for new business.Meetings with potential customers to prospect for our
              services.Maintaining and developing relationships with existing customers in person and via telephone
              calls.Responding to incoming email and phone enquiries.Acting as a contact between the company and its
              existing and potential markets.Gathering market and customer information.Representing company at trade
              exhibitions, events and demonstrations.Challenging any objections with a view to getting the customer to
              buy.Advising on forthcoming projects developments and discussing special promotions.Reviewing your own
              sales performance, meet and aim at exceeding targets.Attending team meeting and sharing best practice with
              colleagues.</p>
            <h1 class="title fs-5"> Skills:</h1>
            Desired Profile: Qualification:
            <br>
            Graduate in any English sections / sales diploma or Higher preferred.
            <br>
            Experience: 0-2 years.
            <h1 class="title fs-5"> Required Skills:</h1>
            <p>Perfect command of English.
              <br>
              Excellent verbal and written English communication skills.
              <br>
              Customer-orientation, good sales skills, negotiation and convincing power.
              <br>
              Good knowledge of Internet terminology on desktop & mobile.
              <br>
              Competency in MS Office especially Excel.</p>

            <h1 class="title fs-5"> Personal Attributes:</h1>
            <p>Ability to work in a team.
              <br>
              Target Driven.
              <br>
              Salary: upon your qualifications & sales experience</p>
              <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-shape">
          <div class="pic pic8"></div>
          <div class="content">
            <h1 class="title text-center my-3">Preschool English Teacher</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <ul>
              <li> Teach kids individually and in groups, adapting teaching methods to meet students’ varying needs and
                interests.
              </li>
              <li> Teach basic skills such as color, shape, number and letter recognition, personal hygiene, and social
                skills.
              </li>
              <li> Observe and evaluate children’s performance, behavior, social development, and physical health.
              </li>
              <li> Provide a variety of materials and resources for children to explore, manipulate, and use, both in
                learning activities and in imaginative play.
              </li>
              <li> Read books to entire classes or to small groups.
              </li>
              <li> Establish clear objectives for all lessons, units, and projects, and communicate those objectives to
                children.
              </li>
              <li> Prepare materials, classrooms, and other indoor and outdoor spaces to facilitate creative play,
                learning and motor-skill activities, and safety.
              </li>
              <li> Identify children showing signs of emotional, developmental, or health-related problems, and discuss
                them with supervisors, parents or guardians, and child development specialists..
              </li>
              <li> Provide disabled students with assistive devices, supportive technology, and assistance accessing
                facilities such as restrooms.
              </li>
              <li> Organize and lead activities designed to promote physical, mental, and social development such as
                games, arts and crafts, music, and storytelling.
              </li>
              <li> Prepare children for later grades by encouraging them to explore learning opportunities and to
                persevere with challenging tasks.
              </li>
              <li> Confer with parents or guardians, other teachers, counselors, and administrators to resolve students’
                behavioral and academic problems.
              </li>
              <li> Prepare and implement remedial programs for students requiring extra help.
              </li>
              <li> Collaborate with other teachers and administrators in the development, evaluation, and revision of
                kindergarten programs.
              </li>
              <li> Maintain accurate and complete student records, and prepare reports on children and activities, as
                required by laws, district policies, and administrative regulations.
              </li>
              <li> Assimilate arriving children to the school environment by greeting them, helping them remove
                outerwear, and selecting activities of interest to them.
              </li>
              <li> Confer with other staff members to plan and schedule lessons promoting learning, following approved
                curricula.
              </li>
              <li> Meet with other professionals to discuss individual students’ needs and progress.
              </li>
              <li> Organize and label materials and display children’s work in a manner appropriate for their sizes and
                perceptual skills.
              </li>
              <li> Prepare, administer, and grade tests and assignments to evaluate children’s progress.
              </li>
              <li> Supervise, evaluate, and plan assignments for teacher assistants and volunteers.
              </li>
              <li> Guide and counsel students with adjustment or academic problems, or special academic interests.
              </li>
              <li> Prepare objectives and outlines for courses of study, following curriculum guidelines or requirements
                of states and schools.
              </li>
              <li> Attend professional meetings, educational conferences, and teacher training workshops to maintain and
                improve professional competence.
              </li>
            </ul>
            Job Requirements
            <ul>
              <li> Minimum of a Bachelor’s degree in Education
              </li>
              <li> Teaching experience at the Kindergarten level
              </li>
              <li> Innovative teaching skills
              </li>
              <li> The ability to create a safe, engaging, interactive learning environment
              </li>
              <li> The ability to craft age-appropriate and engaging lesson plans
              </li>
              <li> The ability to identify individual student needs and achieve differentiated learning within the
                classroom
              </li>
              <li> Good communication skills
              </li>
              <li> The ability to work collaboratively with other teachers
              </li>
            </ul>
            <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-shape">
          <div class="pic pic10"></div>
          <div class="content">
            <h1 class="title text-center my-3">Teachers of English Jobs</h1>
            <h1 class="title fs-5"> About the Job</h1>
            <p>As an TEFL (English as a Foreign Language) teacher you would help students to learn or improve their
              English skills.
              <br>
              You will need an excellent standard of English, and you have to have a degree or a qualification in
              Teaching English as a Foreign Language (TEFL). You will also need patience and a good sense of humor.
              <br>
              starting salary 2500 up to 5000 L.E</p>
              <div class="col-lg-12 col-sm-12">
                <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>