<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li>
      <li class="active"> / Testing Center</li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5">Testing Center</h1>
    <p class="text"> Professor for Training Courses is a TOEFL Exam Authorized test Center and accredited testing
      center for ICDL. </p>
    <p class="text"> The TOEFL® test is the most widely respected English-language test in the world, recognized by more
      than 9,000 colleges, universities and agencies in more than 130 countries, including Australia, Canada, the U.K.
      and the United States. Wherever you want to study, the TOEFL test can help you get there. </p>
    <p class="text"> The International Computer Driving License (ICDL) was developed to enable individuals and
      institutions to improve their use of information technology and computers. </p>

  </div>
</section>

<section class="courses">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1">
        <button class="carousel-cell tofel actives" (click)="openContent('.tofel-content');setActiveTab('.tofel')">
          <h1>TOFEL Exam </h1>
        </button>
      </div>
      <div class="col-4 offset-2">
        <button class="carousel-cell icdl" (click)="openContent('.icdl-content');setActiveTab('.icdl')">
          <h1>ICDL Exam</h1>
        </button>

      </div>
    </div>
  </div>
</section>

<section class="tofel-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Professor Is a TOEFL Exam Authorized test center</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">The TOEFL® Test Gives You an Advantage:</h1>
        <p>Most Widely Accepted, Most Popular and Most Convenient Choice
          <br>
          The TOEFL® test is the most widely respected English-language test in the world, recognized by more than 9,000
          colleges, universities and agencies in more than 130 countries, including Australia, Canada, the U.K. and the
          United States. Wherever you want to study, the TOEFL test can help you get there.
          <br>
          The TOEFL iBT® test, administered via the Internet, is an important part of your journey to study in an
          English-speaking country. In addition to the test, the ETSTOEFL® Program provides tools and guides to help you
          prepare for the test and improve your English-language skills.
          <br>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">What Is the TOEFL iBT Test?</h1>
        <p>The TOEFL iBT test measures your ability to use and understand English at the university level. And it
          evaluates how well you combine your listening, reading, speaking and writing skills to perform academic tasks.
        </p>
        <ul>
          <li><strong>TOEFL</strong> is a standardized test developed to measure readiness for joining US and other
            international universities. It is also a prerequisite for immigration to certain countries.</li>
          <li><strong>TOEFL</strong> is designed to assess the abilities of ESL students to understand and use English
            fluently.</li>
          <li>Over the years, different format of <strong>TOEFL</strong> have been developed, including: the Paper-Based
            <strong>TOEFL</strong> (PBT), the Computer-Based <strong>TOEFL</strong> (CBT) and the Internet-Based
            <strong>TOEFL</strong> (IBT). IBT is the latest <strong>TOEFL</strong> format and is now the only
            internationally-recognized <strong>TOEFL</strong> exam to be used in Egypt, after a period in which
            <strong>TOEFL</strong> exams were not held in Egypt.</li>
          <li>IBT fees are USD 160 (one hundred and sixty US dollars) to be paid directly on the website of the
            <strong>TOEFL</strong> trademark owner.</li>
          <li>The IBT exams are held in many Egyptian centers authorized by the <strong>TOEFL</strong> trademark owner.
            These centers include Professor which is an internationally-recognized testing center, the
            <strong>AUC</strong> and many other institutions and agencies.</li>
        </ul>
      
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="icdl-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Professor is an Authorized test center for ICDL Exam </h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <ul>
          <li>The International Computer Driving License (ICDL) Commission was established in 1995. Having established
            wide reputation and recognition in the EU, the ICDL changed its name in 1997 to be the European Computer
            Driving License (ECDL) Foundation.
          </li>
          <li>
            The ICDL was developed to enable individuals and institutions to improve their use of information technology
            and computers.
          </li>
          <li>
            The ICDL has established many partnerships with the Ministry of Communications, the Ministry of Education,
            the Ministry of Health and Population and the Supreme Council of Universities. This has meant that ICDL will
            be available for a wide range of individuals to help them qualify for jobs and/or to develop job skills.
          </li>
          <li>
            Professor for Training Courses is an accredited testing center for ICDL and you can take
            the ICDL exam in Professor headquarters in 6th of October City.
          </li>
          <li>
            Furthermore, Professor offers up to 50% discount on the ICDL preparatory courses which test takers pass the
            examinations. Professor also provides models of the ICDL tests, from previous administrations to help learners
            practice to pass the ICDL test.</li></ul>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>