<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li> /
      <li><a [routerLink]='["/our-programs"]'> Our Programs</a></li>
      <li class="active"> / Business Administraton & Management Program </li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5"> Business Administraton & Management Program </h1>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>

  </div>
</section>

<section class="courses-carousel">
  <div class="carousel" data-flickity='{ "wrapAround": true ,"draggable": true,"autoPlay": true }'>
    <button class="carousel-cell bmd actives" (click)="openContent('.bmd-content');setActiveTab('.bmd')">
      <h1>Business Management</h1>
      <h1>Diploma</h1>
    </button>
    <button class="carousel-cell hrm" (click)="openContent('.hrm-content');setActiveTab('.hrm')">
      <h1>Human Resource Management</h1>
      <h1>Diploma</h1>
    </button>
    <button class="carousel-cell dmm" (click)="openContent('.dmm-content');setActiveTab('.dmm')">
      <h1>Marketing</h1>
      <h1>Diploma</h1>
    </button>
    <button class="carousel-cell smd" (click)="openContent('.smd-content');setActiveTab('.smd')">
      <h1>School Management </h1>
      <h1>Diploma</h1>
    </button>
    <button class="carousel-cell pmp" (click)="openContent('.pmp-content');setActiveTab('.pmp')">
      <h1>PMP </h1>
      <h1>Diploma</h1>
    </button>
    <button class="carousel-cell scm" (click)="openContent('.scm-content');setActiveTab('.scm')">
      <h1>Supply Chain </h1>
      <h1> Dimploma </h1>
    </button>
    <button class="carousel-cell hmd" (click)="openContent('.hmd-content');setActiveTab('.hmd')">
      <h1>Hospital Management & UKIVQ</h1>
      <h1>in Health Care Diploma</h1>
    </button>
  </div>
</section>

<section class="bmd-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Business Management Diploma at Professor</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Business Administration (DBA) is an advanced professional diploma provided by Professor
          for Training Courses which is ISO-9001 accredited language learning and training center collaborating
          with Atlanta Institute and Professor is one of the largest management centers all over Egypt.
          <br>
          It is through DBA that junior owners, entrepreneurs or managers can gain extensive knowledge in various
          business management fields, such as project management, human resource management and business planning,
          employee motivation methods and the business-market relationships. In other terms, DBA is certainly the first
          step for those who are willing to make great progress and achievements in their businesses because it provides
          a very precise and concise insight into each and every filed relating to business administration.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">DBA covers:</h1>
        <ol>
          <li>Decision making process.</li>
          <li>Problem solving approaches and methods.</li>
          <li>Regulatory organizational planning.</li>
          <li>Leadership and management; common grounds and differences.</li>
          <li>Human resources management.</li>
          <li>Planning and its role in business administration.</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="hrm-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Human Resources Management Diploma </h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Human Resource Management (DHRM) is an advanced professional diploma provided by Professor
          for Training Courses which is ISO-9001 accredited language learning and training center
          collaborating with Atlanta Institute and Professor is one of the largest management centers all
          over Egypt.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">Diploma in Human Resource Management (DHRM) is an Professor program covering the
          following fields:</h1>
        <ol>
          <li>Functions of <strong>HR</strong> manager.</li>
          <li>Functions of <strong>HR</strong> specialist.</li>
          <li>Hiring the right employees for your business.</li>
          <li>Placement planning and development.</li>
          <li>Employee performance evaluations.</li>
          <li>Employee motivation.</li>
          <li>Future business planning.</li>
          <li>Overview of labour law.</li>
          <li>Training schedule planning.</li>
          <li>Business structure planning.</li>
          <li>Employee salary planning.</li>
          <li>Making job descriptions.</li>
          <li>Conducting interviews.</li>
          <li>Candidate evaluation and right placement.</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="dmm-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center">Diploma in Marketing Management (DMM) at Professor</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>The Diploma in Marketing Management (DMM) is an advanced professional diploma provided by Professor
          for Training Courses which is ISO-9001 accredited language learning and training center
          collaborating with Atlanta Institute and Professor is one of the largest management centers all
          over Egypt.
          <br>
          The Diploma in Marketing Management (DMM) offered by Professor is the best choice for those desiring to
          become successful sales and marketing professionals to enhance their experience and knowledge through getting
          familiar with the most creative concepts and breaking-through ideas in sales and marketing so as to win job
          opportunities in large international businesses.
          <br>
          In DMM, trainees come to know the most successful ways to set marketing plans, how to conduct studies on
          markets and competitors’ portions thereof and how to give businesses competitive capabilities so as to get
          dominance over others in markets.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">The DDM program offered by Professor covers the following subjects:</h1>
        <ol>
          <li>Important role played by marketing management in boosting businesses.</li>
          <li>Strategic marketing planning.</li>
          <li>Conducting predictive market researches on market portions and sales force.</li>
          <li>Successful communications with customers.</li>
          <li>Building competitive brands.</li>
          <li>Marketing presentations; preparation and implementation.</li>
          <li>Management of marketing communication channels.</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="smd-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> School Management Diploma</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>The School Management is an advanced professional diploma provided by Professor for Training Courses
          which is ISO-9001 accredited language learning and training center collaborating with Atlanta
          Institute. This diploma enhances the opportunities for administrative staff, head teachers, Principals and
          future heads… it helps the candidates to win jobs in foreign and language schools all over Egypt.
          <br>
          The School Management Diploma helps the candidates to be a good school head or part of administrative staff.
          <br>
          The training covers topics such as strategic planning, economical and human resources management</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="pmp-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Project Management Professional (PMP) Diploma at Professor</h1>
    <p>iploma in Project Management Professional (PMP),Is an advanced professional diploma provided by Professor
      for Training Courses which is ISO-9001 accredited language learning and training center
      collaborating with Atlanta Institute and Professor is one of the largest management centers all over
      Egypt.
      <br> Project Management Professional (PMP) Diploma is an advanced professional diploma provided by Professor
      which is an ISO-9001 accredited language learning and training center collaborating with the Project
      Management Institute in the United States, qualifying engineers and project managers to pass the tests of the
      international Project Management Institute (PMI) so as to obtain the international PMP certification.
      <br>
      With PMP diploma, project managers and engineers learn about scientific, applied and technical skills required for
      project management and excellent project planning so as to achieve high profitability and great success.</p>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">PMP diploma covers the following fields:</h1>
        <ol>
          <li>Introduction to project management and its pivotal role for businesses.</li>
          <li>Operation management and project administration.</li>
          <li>Integrated project management.</li>
          <li>Time management and business success.</li>
          <li>Cost management and high profitability.</li>
          <li>Quality management and high business efficiency.</li>
          <li>Risk management.</li>
          <li>Modern project management.</li>
          <li>Planning management and project implementation.</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="scm-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Supply Chain Management (SCM) Diploma at Professor
    </h1>
    <p>Professor for Training Courses offers the advanced professional diploma in Supply Chain
      Management (SCM) covering the field of the management of logistic services, provided by Professor which
      is ISO-9001 accredited language learning and training center collaborating with Atlanta Institute and Professor
      is one of the largest management centers all over Egypt.
      <br>
      The SCM diploma addresses engineers, SC specialists, stock and procurement managers, heads and staff of planning
      and development departments and divisions, development, production managers, operations managers, staff working in
      these aforesaid departments. This diploma aims to familiarize such managers and staff with the latest concepts and
      ideas concerning the supply chain management and so as to boost business productivity, maintaining effective
      methods for the management of stocks, procurements and transport and distribution operations so as to achieve high
      customer satisfaction with lowest costs and on-time deliveries.</p>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">SCM diploma covers the following:</h1>
        <ol>
          <li>Supply Chain Management: Definitions and Concepts.</li>
          <li>Supply Chain Management: Types and Functions</li>
          <li>Stock, procurement and transport planning.</li>
          <li>Stock and Procurement Management: Evaluation and Measurement Methods.</li>
          <li>Orders and procurement lists.</li>
          <li>Marketing and SCM.</li>
          <li>SCM and other departments within companies.</li>
        </ol>
        <h1 class="title">Certified Supply Chain Professional (CSCP) Training Courses in Professor</h1>
        <h1 class="title">CSCP covers the following:</h1>
        <ol>
          <li>Fundamental of Supply Chain Management (2 Books)</li>
          <li>Supply Chain Strategy, Design, and Compliance (2 Books)</li>
          <li>Implementation and Operations</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>

</section>

<section class="hmd-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center my-5"> Hospital Management Diploma at Professor</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="content-dropcap">

          <p>Diploma in Hospital Management <em>(DHM</em><em>) </em>is an advanced professional diploma provided by
            Professor for Training Courses (<strong>Professor)</strong> which is ISO-9001 accredited language
            learning and training center collaborating with Atlanta Institute and the Project Management Institute
            (<strong>PMI</strong>) in the United States and Professor is one of the largest language learning
            centers all over Egypt.</p>
          <p>The Diploma in Hospital Administration (<strong>DHM</strong>) is specifically developed with the aim to
            make great shifts in the careers of hospital administrators and managers; it helps them become
            professional experts in the Management of health institutions and the right decision-making process in
            hospitals and healthcare institutions.</p>
          <h1 class="title my-4">UKIVQ in Health Care</h1>
          <p>The UKIVQ Diplomas in Health Care have been designed to give health care
            workers a comprehensive programe of learning and assessment in their field of work.
            <br>They equip care workers with the knowledge to deliver the best possible standards of service and
            provide a structure for ongoing development.<br>
            These are internationally recognised qualifications available in a wide range of countries around the
            world.<br>

            <br>
            The UKIVQ Diplomas in Health Care are designed for people who work in a range
            of health and social care settings.<br>

            This level will suit you if you are already working, or would like to work, in the health and social
            care sector. You want to learn the skills and knowledge to support individuals and forge your own career
            development path in the health and social care sector.<br></p>
          <h1 class="title my-4"> There are two qualifications to choose from at this level:</h1>
          <ul>
            <li>Level 2 IVQ Diploma in Health Care</li>
            <li>Level 2 IVQ Specialist Diploma in Health Care.</li>
          </ul>
          <h1 class="title my-4">Both qualifications comprise four core units:</h1>
          <ul>
            <li>Developing own knowledge and practice in a care setting</li>
            <li>Rights, responsibilities and protection in care</li>
            <li>Communicating with and completing records for individuals in a care setting</li>
            <li>Understanding health and safety practice in a care setting.</li>
          </ul>
          <h1 class="title my-4">For the Level 2 IVQ Specialist Diploma in Health Care, you also complete four optional
            units from a
            range that includes:</h1>
          <ul>
            <li>Supporting the physical and emotional comfort of individuals</li>
            <li>Promoting, maintaining and understanding mobility</li>
            <li>Working in collaboration with informal carers.</li>
          </ul>
        </div>
        <h1 class="title my-4">The DHM addresses the
          following subjects:</h1>
        <ol>
          <li>Strategic hospital administration.</li>
          <li>Operations management and operation management skills.</li>
          <li>Healthcare Institutions’ performance: Evaluation.</li>
          <li>Cost effectiveness and high quality in healthcare institutions.</li>
          <li>Adding competitive advantages to healthcare institutions.</li>
          <li>HR Management in healthcare institutions.</li>
          <li>Marketing of healthcare services.</li>
        </ol>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12">
      <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
    </div>
  </div>
</section>