<section class="Professor-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a [routerLink]='[""]'>Home</a></li> 
        <li class="active"> / Preschool </li>
      </ul>
    </div>
  </section>
  
  <section class="Professor-programs pb-5">
    <div class="container">
      <h1 class="title py-5">(AIP) American International Preschool</h1>
      <ul><li>Professor for Training Courses<strong></strong> has established the American International Preschool (<strong>AIP</strong>) as a social and educational institution working to provide children with the appropriate qualifications to join international schools.</li><li><strong>AIP</strong> methodology is to help children, aged 2-4, acquire the necessary skills and experience. Children are given full freedom to work on the educational and pedagogical of their liking to identify their potentials and dispositions. This methodology also seeks to instill in children the values of teamwork, cooperation, positivity, equality and self-reliance.</li><li>The <strong>AIP</strong> offers American interactive curricula, designed to develop children at this particular age stage and provide them with knowledge in the following fields:</li></ul>
      <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
    </div>
  </section>
  
