<section class="Professor-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a [routerLink]='[""]'>Home</a></li> /
      <li><a [routerLink]='["/our-programs"]'> Our Programs</a></li>
      <li class="active"> / Teaching Diploma </li>
    </ul>
  </div>
</section>

<section class="Professor-programs pb-5">
  <div class="container">
    <h1 class="title py-5">Teaching Diploma</h1>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>
    <p class="text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste doloribus molestias expedita
      temporibus! Id unde rerum fuga quae adipisci, officia consequatur tempore voluptates natus pariatur minus
      praesentium cupiditate molestias. </p>

  </div>
</section>

<section class="courses-carousel">
  <div class="carousel" data-flickity='{ "wrapAround": true ,"draggable": true,"autoPlay": true }'>
    <button class="carousel-cell montessori" (click)="openContent('.montessori-content');setActiveTab('.montessori')">
      <h1>Teaching for Preschool </h1>
      <h1>(Montessori) </h1>
    </button>
    <button class="carousel-cell teaching" (click)="openContent('.teaching-english');setActiveTab('.teaching')">
      <h1>Teaching English </h1>
      <h1>for Primary </h1>
    </button>
    <button class="carousel-cell ms" (click)="openContent('.math-science');setActiveTab('.ms')">
      <h1>Teaching Math & Science </h1>
    </button>
    <button class="carousel-cell tefl actives" (click)="openContent('.tefl-content');setActiveTab('.tefl')">
      <h1>TEFL </h1>
    </button>
  </div>
</section>

<section class="montessori-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Teaching for Preschool (Montessori)</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Montessori Preschool Teacher Diploma (MPTD) is an advanced professional diploma provided by the
          Professor for Training Courses which is ISO-9001 accredited language learning and training
          center collaborating with Atlanta Institute and Professor is one of the largest teaching & learning
          centers all over Egypt.
          <br>
          The Montessori Preschool Teacher Diploma (MPTD) is developed specially for teachers, managers and owners of
          kindergartens and primary schools; it addresses the best educational methods and approaches suitable for the
          kids in the preschool a Kindergarten stage. These methods and approaches are mainly based on the concepts of
          funny learning.
          <br>
          With the MPTD, kindergarten teachers learn about the best ways to educate the kids through funny learning,
          developing these kids’ capabilities and skills through interactive activities and active and funny educational
          environment.
          <br>
          As revealed by its title, this MPTD is based on the pedagogical philosophy of the Italian scholar “Maria
          Montessori”, and aims at the development of kindergarten teachers and help the kids acquire creative abilities
          and skills, including innovative problem-solving and creative and critical thinking skills.
          <br>
          This MPTD covers all the subjects relating to preschool educational psychology and methodologies and the most
          common educational difficulties faced by the kids in this very specific age (from one year old up to 6 years
          old) and also the possible effects of these difficulties which may keep affecting the kids even after they
          grow up. In addition, this MPTD addresses certain behavioral problems of the kids, such as stubbornness,
          jealousy, proper punishment methods, distraction problems and lack of concentration.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="teaching-english my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Teaching English for Primary
    </h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Primary English Language Education (ADPELE) is an advanced professional diploma provided by the
          Professor for Training Courses which is ISO-9001 accredited language learning and training
          center collaborating with Atlanta Institute and Professor is one of the largest teaching & learning
          centers all over Egypt.
          <br>
          The Advanced Diploma in Primary English Language Education (ADPELE) is a high-level course which gives English
          language teachers in preschool and primary schools a crystal clear insight into the best methodologies for
          teaching English and how to make significant progress in classrooms.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">ADPELE consists of three stages:
        </h1>
        <ol>
          <li>Learning about the basics of dealing with the kid learners and proposals for English teaching in preschool
            and primary schools.</li>
          <li>Best English teaching practices, most convenient curricula and most concise ways to utilize the exercises
            relating to English teaching methods for kids learners. In addition, the participant teachers will learn
            about how to make advantage of English language in other educational subjects.</li>
          <li>Practical applications of the <strong>ADPELE</strong>.</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="math-science my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> Teaching Math & Science Diploma in Language School</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Math & Science Teacher is an advanced professional diploma provided by Professor for
          Training Courses which is ISO-9001 accredited language learning and training center collaborating with
          Atlanta Institute. The institute and its language programs are offered under supervision of the institution
          owning American International schools in Egypt and all over the world. This enhances the opportunities
          available for math and science teachers looking for job opportunities at language and international school
          upon completion of the math and science teaching diploma; of which teachers’ preparatory programs and language
          teaching courses are subject to the supervision of the entity owning all American foreign schools all over the
          world, including Egypt. This will help the Math & Science Teacher-Diploma-certified teachers to win jobs in
          foreign and language schools all over Egypt. And Professor is one of the largest language learning
          centers all over Egypt.
          <br> The Math and Science teaching diploma help mathematics and science teachers teach the specialized courses
          where English is the language of instruction.
          <br>
          The diploma offers professional training to teachers. The training covers topics such as lesson planning,
          activities that assist in teaching of science and mathematics, how to use additional resources for teaching
          math and science, how to use methodologies for teaching specialized content, and how to master various
          assessment and testing methods to measure learners’ achievement.</p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>
</section>

<section class="tefl-content my-5 py-5">
  <div class="container">
    <h1 class="title mb-4 text-center"> TEFL (Diploma in Teaching English as a Foreign Language)</h1>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Diploma in Teaching English as a Foreign Language (TEFL) is an advanced professional diploma provided by the
          Professor for Training Courses which is ISO-9001 accredited language learning and training
          center collaborating with Atlanta Institute. The institute and its language programs are offered under
          supervision of the institution owning American International schools in Egypt and all over the world. This
          enhances the opportunities available for TEFL teachers looking for job opportunities at language and
          international school upon completion of the TEFL teaching diploma; of which teachers’ preparatory programs and
          language teaching courses are subject to the supervision of the entity owning all American foreign schools all
          over the world, including Egypt. This will help the TEFL Teacher-Diploma-certified teachers to win jobs in
          foreign and language schools all over Egypt. And Professor is one of the largest language learning
          centers all over Egypt.
          <br>
          The “Teaching English as a Foreign Language” (TEFL) Diploma is offered by Professor for all the
          teachers desiring to teach English to kids or adults. It helps them enhance their teaching skills and to gain
          high profits because it maximizes their opportunities to win jobs in language schools, universities and
          certified training centers. </p>
      </div>
      <div class="col-lg-12 col-sm-12">
        <h1 class="title my-4">
          This TEFL Diploma covers the following fields:
        </h1>
        <ol>
          <li>Language teaching topics:</li>
        </ol>
        <ul>
          <li>Teaching Listening</li>
          <li>Teaching Conversation</li>
          <li>Teaching Vocabulary</li>
          <li>Teaching Grammar</li>
          <li>Teaching Writing</li>
          <li>Teaching Reading</li>
        </ul>
        <ol start="2">
          <li>Best practices and methods for:</li>
        </ol>
        <ul>
          <li>Preparing and planning lessons in English</li>
          <li>Utilizing different educational resources</li>
        </ul>
        <ol start="3">
          <li>Classroom management and handling students</li>
          <li>Best practices for students’ assessment and testing</li>
        </ol>
      </div>
      <div class="col-lg-12 col-sm-12">
        <a class="btn btn-style btn-danger mt-sm-5 mt-4 see-all">Apply Now</a>
      </div>
    </div>
  </div>

</section>